<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Psycho.Service.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="protobuf-net" publicKeyToken="257b51d87d2e4d67" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.2.0" newVersion="2.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Psycho.Service.config>
      <setting name="fb_login" serializeAs="String">
        <value />
      </setting>
      <setting name="fb_password" serializeAs="String">
        <value />
      </setting>
      <setting name="fb_clientcode" serializeAs="String">
        <value />
      </setting>
      <setting name="fb_appid" serializeAs="String">
        <value />
      </setting>
      <setting name="fb_appsecret" serializeAs="String">
        <value />
      </setting>
      <setting name="ServiceEndpoint" serializeAs="String">
        <value>http://localhost:55755</value>
      </setting>
      <setting name="mongodb" serializeAs="String">
        <value>mongodb://gatherhunt:8l8PQBnzthjBzccSH6Nc@173.212.204.246:7008/psychodb</value>
      </setting>
    </Psycho.Service.config>
  </userSettings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="20" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>
