<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9" targetFramework="net462" />
  <package id="Destructurama.JsonNet" version="1.0.3" targetFramework="net462" />
  <package id="Facebook" version="7.0.6" targetFramework="net462" />
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net462" />
  <package id="MongoDB.Bson" version="2.4.3" targetFramework="net462" />
  <package id="MongoDB.Driver" version="2.4.3" targetFramework="net462" />
  <package id="MongoDB.Driver.Core" version="2.4.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net462" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net462" />
  <package id="Serilog" version="2.5.0" targetFramework="net462" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net462" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Literate" version="3.0.0" targetFramework="net462" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net462" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net462" />
  <package id="Serilog.Sinks.Seq" version="3.3.3" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net462" />
</packages>